@font-face {
    src: url(/style/black/fonts/Sans.ttf);
    src: url(/style/black/fonts/Serif.ttf);
}
body {
    background: url(/style/black/images/background.png);
    margin: 5% 0;
}

div {
    margin: 5px;
}
#head, #content {
    width: 70%;
    margin: auto;
    padding-top: 20px;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}
#head {
    height: 300px;
    background: url(/style/black/images/header.jpg);
}
.title {
    text-align: center;
    width: 90%;
    margin: auto;
    color: #FFF;
}
.name {
    margin-top: 100px;
}
.name h1 {
    font: 500 58px PT Serif;
}
.info {
    margin: 7px;
}
.info h5 {
    font: 300 12px PT Sans;
    color: #DDD;
    margin: 13px;
    display: inline;
}
.info h5:first-child {
    padding-right: 5%;
    border-right: 1px solid #DDD;
}
.info h5:nth-child(2n) {
    padding-right: 5%;
    border-right: 1px solid #DDD;
}
.info h5 a {
    color: #DDD;
}
#content {
    color: #FFF;
    background: url(/style/black/images/body.png);
    height: 520px;;
}
#content h3 {
    color: #848484;
    font: 400 21px PT Serif;
}
.left, .right{
    width: 47%;
    display: table-cell;
    padding-right: 25px;
    padding-left: 25px;
}
.left {
    text-align: right;
    border-right: 1px solid #DDD;
}
.right {
    text-align: left;
}
.goal, .education, .skills, expirience, about {
    height: 150px;
    margin-bottom: 15px;
}

a {
    color: #FFF;
}

p, li {
    font: 100 14px PT Sans;
}

li {
    padding-left: 25px;
}
ul {
    padding-top: 25px;
}
.skills ul {
    padding-top: 5px;
}


